<template>
    <div>
        <contorls-header v-bind:title="context.title" color="rgb(255, 98, 13)">
        </contorls-header>
        <!--<component v-bind:is="context.frament"></component>-->
    </div>
</template>

<script>
export default {
    props:{
        context:Object
    },
    components: {
        'contorls-header': require('../controls/Header.vue')
    }
};
</script>