<template>
    <div class="maxsize">
        <contorls-header v-bind:title="context.title" color="rgb(1, 34, 53 )">
            <span></span>
        </contorls-header>
        <iframe class="icontente" src="http://www.phone580.com/"></iframe>
    </div>
</template>


<script>
export default {
    props:{
        context:Object
    },
    components: {
        'contorls-header': require('../controls/Header.vue')
    }
};
</script>

<style scoped>
.maxsize {
    display: flex !important;
    flex-flow: column;
}

.maxsize .header {
    flex: 0 0 48px;
}
</style>