<template>
    <div>
        <contorls-header v-bind:contents="context.contents" v-bind:title="context.title" color="rgb(112, 184, 36 )">
            <span style="font-size:1.2em;">
                <span class="symbol"></span>
                <span>订单查询</span>
            </span>
        </contorls-header>
    </div>
</template>

<script>
export default {
    props:{
        context:Object
    },
    components: {
        'contorls-header':require('../controls/Header.vue')
    }
}
</script>