<template>
    <div>
        <contorls-header v-bind:contents="context.contents"
                         v-bind:title="context.title"
                         color="rgb(119, 128, 136)">
        </contorls-header>
    </div>
</template>

<script>
export default {
    props:{
        context:Object
    },
    components: {
        'contorls-header': require('../controls/Header.vue')
    }
};
</script>