<template>
    <div class="header"
         v-bind:style="{ 'background-color':color }">
        <title-bar v-bind:title="title">
            <slot></slot>
        </title-bar>
        <t-abs v-bind:tabs="tabList"
               v-if="hasTabs" />
    </div>
</template>

<script>
let Tabs = require('./Header.Tabs.vue');
let TitleBar = require('./Header.TitleBar.vue');
export default {
    props: {
        color: String,
        contents: Object,
        title: String,
        required: true
    },
    computed: {
        tabList() {
            return (this.contents || {}).values();
        },
        hasTabs() {
            return this.contents != null && this.contents.keys().length > 0;
        }
    },
    components: {
        "t-abs": Tabs,
        "title-bar": TitleBar
    }
}
</script>

<style scoped>
.header {
    font-size:1rem;
    background-color: rgba(21, 166, 239, 1);
    color: #fff;
    box-shadow: 0 0 8px #888;
}
</style>