<template>
    <a v-on:click="item.open"
       class="tab"
       v-bind:class="{ active:item.isCurrent }">
        <div class="img symbol">{{item.icon}}</div>
        <label>{{item.title}}</label>
        <!--<slot></slot>-->
    </a>
</template>

<script>
export default {
    props: {
        item: Object,
        required: true
    },mounted(){
        //console.log(this);
    }
}
</script>