<template>
    <div class="tabs">
        <tab-item v-bind:item="tabItem"
                  v-for="tabItem in tabs" v-if="tabItem.visible"></tab-item>
    </div>
</template>

<script>
let TabItem = require('./Header.Tabs.Item.vue');
export default {
    props: ["tabs"],
    components: {
        TabItem
    }
}
</script>

<style>
.tabs {
    display: block;
    padding: 1em 2em;
    height: 11em;
    white-space: nowrap;
    overflow: hidden;
}

.tab {
    display: inline-block;
    color: var(--TextColor);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-size: 1em;
    transition: transform 0.2s linear;
}

.tab:not(:last-child) {
    margin-right: 2em;
}

.tab .img {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    display: block;
    max-height: auto;
    height: 2em;
    width: 2em;
    line-height: 2em;
    border-radius: 50%;
    margin-bottom: 0.125em;
    background: rgba(255, 255, 255, 0.2);
    font-size: 3.5em;
}

.tab label {
    font-size: 1em;
    font-weight: 500;
    line-height: 1em;
}

.tab:active .img {
    transform: scale(0.9);
}

.tab.active .img,
.tab:active .img {
    background: #fff;
    color: #0094ff;
}

@media(max-width:768px) {
    .tab {
        flex: 1;
    }
}
</style>