<template>
    <div class="titleBar">
        <label class="label">{{title||""}}</label>
        <span class="btns"><slot></slot></span>
    </div>
</template>

<script>
export default {
    props: {
        title: String,
        required: true
    }
}
</script>

<style scoped>
.titleBar {
    height: 48px;
    padding: 0 1em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.titleBar .label {
    line-height: 48px;
    font-size: 1em;
    font-weight: 500;
}

.titleBar .btns {
    float: right;
    vertical-align: middle;
}

.titleBar .btns>* {
    line-height: 48px;
}
.titleBar .btns *{
    vertical-align: middle;
}
</style>
