<template>
    <a class="menuBtn" v-on:click="item.open" v-bind:class="{ active:item.isCurrent }">
        <span class="icon">{{item.icon}}</span>
        <span class="title">{{item.title}}</span>
        <slot></slot>
    </a>
</template>

<script>
export default {
    props: {
        item:Object,
        required: true
    },
    methods: {
        go(event) {
            let e = new Event("navigateTo");
            e.key = this.item.key;
            window.dispatchEvent(e);
        }
    }
}
</script>