<template>
    <div class="navbar"
         v-bind:class="{ isopen:isopenview }">
        <span class="toggleBtn" v-on:click="toggleNavBar"><span class="icon"></span></span>
        <navbar-item v-for="pageItem in contents" v-bind:item="pageItem" v-if="pageItem.visible"></navbar-item>
        <span class="group">
            <a class="menuBtn">
                <span class="icon"></span>
                <span class="label">个人中心</span>
            </a>
            <a class="menuBtn">
                <span class="icon"></span>
                <span class="label">消息中心</span>
            </a>
            <a class="menuBtn">
                <span class="icon"></span>
                <span class="label">任务管理</span>
            </a>
            <a class="menuBtn">
                <span class="icon"></span>
                <span class="label">更多</span>
            </a>
        </span>
    </div>
</template>

<script>
let NavBarItem = require('./NavBar.Item.vue');
import navigate from "../scripts/navigate.js";

export default {
    methods: {
        toggleNavBar() {
            this.isopenview = !this.isopenview;
        }
    },
    data() {
        return navigate;
    },
    components: {
        "navbar-item": NavBarItem
    }
};
</script>

<style>
.navbar {
    font-size:1rem;
    z-index:20;
    color: #fff;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    margin: auto;
    width: 48px;
    background: rgb(43, 43, 43);
    width: var(--AlignPixel);
    text-align: left;
    transition: all 0.2s;
}
.navbar a:link,
.navbar a:hover:link,
.navbar a:active:link{
    text-decoration:none;
}

.navbar * {
    color: var(--TextColor);
    vertical-align: middle;
}

.navbar .group,
.navbar .menuBtn,
.navbar .toggleBtn,
.navbar .icon {
    cursor: pointer;
    font-family: 'Segoe MDL2 Assets', '微软雅黑 UI';
}

.navbar .group,
.navbar .menuBtn,
.navbar .toggleBtn {
    overflow: hidden;
    text-overflow: hidden;
    width: 100%;
    display: block;
}

.navbar .menuBtn,
.navbar .toggleBtn {
    word-wrap: normal;
    white-space: nowrap;
}

.navbar .icon {
    height: var(--AlignPixel);
    line-height: var(--AlignPixel);
    width: var(--AlignPixel);
    font-size: 1.8em;
    text-align: center;
    display: inline-block;
}

.navbar .menuBtn {
    position: relative;
}

.navbar .menuBtn sup {
    position: absolute;
    left: 75%;
    top: 20%;
    height: 5px;
    width: 5px;
    background: red;
    border-radius: 50%;
    display: inline-block;
}

.navbar .menuBtn:hover,
.navbar .toggleBtn:hover {
    background-color: rgb(91, 91, 91);
}

.navbar .menuBtn.active,
.navbar .toggleBtn.active,
.navbar .menuBtn:active,
.navbar .toggleBtn:active {
    background-color: rgb(33, 108, 117);
}

.navbar .group {
    border-top: 1px solid #444;
    position: absolute;
    bottom: 0;
}

.navbar.isopen {
    width: 190px;
}

.navbar .label {
    line-height: var(--AlignPixel);
    font-size: 1.2em;
    padding-left: 0.4em;
    opacity: 0.9;
}

.navbar:not(.isopen) .label {
    display: none;
}
</style>