<template>
    <contente v-bind:is="frament" v-bind:sms="sms" v-bind:contact="contact"></contente>
</template>

<script>
import SMS from './contract.part/SMS.vue';
import AddressBook from './contract.part/AddressBook.vue';

export default {
    data() {
        return {
            frament: SMS
        };
    },
    methods:{
        sms(){
            this.frament = SMS;
        },
        contact(){
            this.frament = AddressBook;
        }
    }
}
</script>

<style>
.page_mphone_contract.contact {
    --ActiveColor: rgb(72, 166, 239);

    display: flex;
    flex: 0 100%;
    overflow:auto;
}

.page_mphone_contract.contact>.col {
    flex: 50%;
    align-items: stretch;
    display:flex;
    flex-direction:column;
}

.page_mphone_contract.contact .contact_tabs {
    text-align: center;
    padding-top: 1rem;
    display: block;
    line-height: 2rem;
    padding:1rem 0;
}

.page_mphone_contract.contact .contact_tabs>* {
    display: inline-block;
    margin: auto;
    padding: 0 0.5rem;
    border-bottom: 1px solid transparent;
}
.page_mphone_contract.contact .contact_tabs>*:not(:last-child){
    margin-right: 2rem;
}

.page_mphone_contract.contact .contact_tabs>*:active,
.page_mphone_contract.contact .contact_tabs>*.active {
    color: var(--ActiveColor);
    border-bottom-color:var(--ActiveColor);
}
</style>

