<template>
    <div style="display:flex;height:100%;flex-direction: column">
        <contorls-header v-bind:contents="context.contents" v-bind:title="context.title" color="rgba(21, 166, 239, 1)">
            <span class="symbol icon" v-on:click="download" style="font-size:1.6em;"></span>
        </contorls-header>
        <component v-bind:is="context.frament.content"></component>
    </div>
</template>

<script>
import navigate from "../../scripts/navigate.js";
export default {
    props:{
        context:Object
    },
    methods: {
        download(){
            navigate.navigateTo("download");
        }
    },
    components: {
        'contorls-header': require('../../controls/Header.vue')
    }
};
</script>