<template>
  <div class="mpfile rootview">
    <div class="phone-viewport">
      <md-list class="md-dense">
        <md-list-item>
          <md-icon>album</md-icon> <span>音乐</span>
        </md-list-item>
        <md-list-item>
          <md-icon>photo</md-icon> <span>照片</span>
        </md-list-item>
        <md-list-item>
          <md-icon>movie</md-icon> <span>视频</span>
        </md-list-item>
        <md-divider class="md-inset"></md-divider>
        <md-list-item>
          <md-icon>storage</md-icon> <span>本机存储</span>
        </md-list-item>
        <md-list-item>
          <md-icon>sd_storage</md-icon> <span>SD卡1</span>
        </md-list-item>
      </md-list>
    </div>
    <component v-bind:context="frament" v-bind:is="frament.content"></component>
  </div>
</template>

<script>
import vm from './file.part/file.js';
export default vm;
</script>
<style>
@import './file.part/file.css';
</style>