<template>
    <div class="pageroot">
        <contorls-navbar />
        <component v-bind:context="frament" v-bind:is="frament.content"></component>
    </div>
</template>

<script>
import Vue from 'vue';

import { viewstate } from 'javascript_ext';

Vue.component('contorls-navbar', require('./controls/NavBar.vue'));
import navigate from "./scripts/navigate.js";

import request from './scripts/service.js';
window.request = request;

export default {
    data() {
        return navigate;
    }
};
</script>


<style>
/*一些通用的样式*/
@import "./../../styles/base.css";
/*应用程序专属样式*/
@import "./styles/ui.css";

.pageroot{
    --AccentColor:rgb(21,116,139);
    --TextColor:#f8f8f8;
    --AlignPixel:48px;

    font-size:1rem;
    height: 100%;
    width: 100%;
    padding-left:var(--AlignPixel); 
}

/*To Design*/
*:hover{
    outline: 1px solid yellow;
}
</style>