
.page_mphone_contract.contact .msgList {
    display: block;
    height:100%;
    overflow:auto;
    padding: 0;
    margin: 0;
    background: #fff;
}

.page_mphone_contract.contact .msgList>.msgRow {
    line-height: 2em;
    clear: both;
    display:flex;
}
.page_mphone_contract.contact .msgList>.msgRow .info{
    flex: 0 100%;
}
.page_mphone_contract.contact .msgList>.msgRow.active{
    background: rgb(221,231,232);
}

.page_mphone_contract.contact .msgList>*:not(:last-child) {
    border-bottom: 1px solid rgb(231, 231, 231);
}

.page_mphone_contract.contact .msgList>.msgRow .checkbox{
    flex:0 0 4rem;
}
.page_mphone_contract.contact .msgList>.msgRow .number {
    display:block;
    color: rgb(85, 85, 85);
    font-weight:600;
    padding-right:1rem;
}

.page_mphone_contract.contact .msgList>.msgRow .text {
    display:block;
    padding-right:1rem;
}
.page_mphone_contract.contact .msgList>.msgRow:not(.new) .text{
    color: rgb(168, 168, 168);
}
.page_mphone_contract.contact .msgList .checkbox[type=checkbox]{
    padding:1.5rem;
}
.page_mphone_contract.contact .msgList .checkbox[type=checkbox]::before{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
}
.page_mphone_contract.contact .msgList>.msgRow .time{
    float: right;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 0.5rem;
    color: rgb(168, 168, 168);
    vertical-align: top;
}

.page_mphone_contract.contact .col.smsDetails {
    display:flex;
    align-items: stretch;
    flex: 50%;
    flex-direction:column;
    background: #e9e9e9;
}
.page_mphone_contract.contact .col.smsDetails .toolsbar{
    background: transparent;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgb(204,204,204);
}
.page_mphone_contract.contact .col.smsDetails .detailList{
    height: 100%;
    overflow: auto;
    padding:2rem 4rem;
}
.page_mphone_contract.contact .col.smsDetails .bubble{
    border-radius:1rem;
    width: auto;
    display: inline-block;
    max-width:70%;
    padding:1em;
    line-height:1.6em;
    font-size:1.1rem;
    word-break: break-all;
    text-align: left;
}
.page_mphone_contract.contact .col.smsDetails .detailList >*:not(:last-child){
    margin-bottom:4rem;
}
.page_mphone_contract.contact .col.smsDetails .detailList .datetime{
    text-align: center;
    color: #ccc;
    margin-bottom: 1em;
}
.page_mphone_contract.contact .col.smsDetails .right{
    text-align: right;
}
.page_mphone_contract.contact .col.smsDetails .detailList .left .bubble{
    background:rgb(193,193,193);
    color:rgb(85,85,85);
    position:relative;
}
.page_mphone_contract.contact .col.smsDetails .left .bubble:before,
.page_mphone_contract.contact .col.smsDetails .right .bubble:before{
    display:inline-block;
    position:absolute;
    content:" ";
    width:0;
    height:0;
    border-style:solid;
    border-width:0.8rem 1rem;
    bottom:0.4rem;
}
.page_mphone_contract.contact .col.smsDetails .left .bubble:before{
    border-color:transparent rgb(193,193,193) rgb(193,193,193) transparent;
    left:-1.6rem;
    transform:rotate(-10deg);
}
.page_mphone_contract.contact .col.smsDetails .right .bubble{
    background:#15a6ef;
    color:#fff;
    position:relative;
}
.page_mphone_contract.contact .col.smsDetails .right .bubble:before{
    right:-1.6rem;
    transform:rotate(10deg);
    border-color:  transparent transparent #15a6ef #15a6ef;
}
.page_mphone_contract.contact .col.smsDetails .delete{
    display:inline-block;
    padding:0.4rem 1rem;
    width:6rem;
}
.page_mphone_contract.contact .col.smsDetails  .delete:not(:active){
    opacity:0.5;
}
.page_mphone_contract.contact .col.smsDetails  .delete:active{
    color:red;
}

.page_mphone_contract.contact .col.smsDetails .sendMsgDialog{
    padding: 2rem;
    width:100%;
}
.page_mphone_contract.contact .col.smsDetails .sendMsgDialog .content{
    background:rgb(212,212,212);
    padding:1rem;
}
.page_mphone_contract.contact .col.smsDetails .sendMsgDialog .content textarea{
    width:100%;
    border:not;
    padding:1rem;
    border:none;
    background:transparent;
    margin:0;
    padding:0;
    outline:none;
    font-family:'微软雅黑';
    height:1em;
    line-height:1em;
    font-size:1em;
    overflow:hidden;
    text-overflow:hidden;
}
.page_mphone_contract.contact .col.smsDetails .sendMsgDialog .content textarea:focus{
    height:10rem;
}
.page_mphone_contract.contact .col.smsDetails .sendMsgDialog .content textarea + .sendBar{
    text-align:right;
    color:rgb(85,85,85);
}
.page_mphone_contract.contact .col.smsDetails .sendMsgDialog .content textarea:not(:focus) + .sendBar{
    display:none;
}
.page_mphone_contract.contact .col.smsDetails .sendMsgDialog .content textarea + .sendBar .reply{
    display:inline-block;
    padding:0.55rem 2rem;
    border-radius:1.3rem;
    margin-left:1rem;
    color:rgb(21,178,228);
    border:1px solid rgb(21,178,228);
}
.page_mphone_contract.contact .col.smsDetails .sendMsgDialog .content textarea + .sendBar .reply:disabled{
    background:rgb(200,200,200);
    color:#fff;
    border:1px solid rgb(200,200,200);
}