/*
内容：通用样式
*/
*{
    /*去除浏览器点击时的高亮效果，尤其是对于手机浏览器*/
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    font-family: '微软雅黑';
}

.flex—rb{
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.uppercase{
    text-transform: uppercase;
}
.lowercase{
    text-transform: lowercase;
}
html{
    font-size: 10px;
    font-family:微软雅黑,等线;
}
html,body{
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
body{
    cursor: default;
    font-size: 1rem;
    user-select: none;
}
*{
    box-sizing: border-box;
}
*::selection{
    user-select: none !important;
    background: none !important;;
    color: none !important;;
}

.icontente {
    flex: 0 100%;
    display: block;
    height: 100%;
    width: 100%;
    border: none;
    margin: 0;
    background: none;
}

a[href]{
    text-decoration: none;
}
.tb,.table{
    display: table;
    width: 100%;
    padding: 0;
    max-width: 100% !important;
}
.tr,.th{
    max-width: 100% !important;
    display:table-row;
    padding: 0;
}

.th>*,
.tr>*,
.td{
    vertical-align: top;
    display: table-cell;
    padding: 0;
}
.maxsize{
    display: block !important;
    height: 100% !important;
    width: 100% !important;
}


::-webkit-scrollbar
{
    width: 2px;
    height: 2px;
}
::-webkit-scrollbar-track-piece
{
    background-color:transparent;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:vertical
{
    height: 2px;
    background-color: #ccc;
    border-radius: 0;
}
::-webkit-scrollbar-thumb:horizontal
{
    width: 2px;
    background-color: #ccc;
    border-radius: 0;
}
