symbol,
.symbol{
    font-family: 'Segoe MDL2 Assets','微软雅黑';
    user-select: none;
    transition: all 0.3s;
    cursor: pointer;
}
.symbol:active,symbol:active,Symbol:active{
    transform: scale(0.8);
}
*::before,
*::after{
    font-family: 'Segoe MDL2 Assets','微软雅黑';
}

.toolsbar {
    word-break: normal;
    overflow: hidden;
    color: rgb(135, 135, 135);
    flex: 0 0 3rem;
    background: #eef3f4;
    display: flex;
    justify-content: left;
    padding-left:1.5rem;
}
.toolsbar .symbol {
    margin-right: 0.2rem;
    font-size: 1.4rem;
}
.toolsbar>* {
    align-self: center;
    display: inline-block;
    margin-right: 2rem;
    min-width:5rem;
    align-items:center;
}
.toolsbar * {
    align-self: center;
    vertical-align: middle;
}




.checkbox[type=checkbox]{
    opacity: 0.7;
}
.checkbox[type=checkbox] {
    -webkit-appearance: none;
    /*appearance: none;*/
    display: inline-block;
    /*color: rgb(168, 168, 168);*/
    vertical-align: middle;
}
.checkbox[type=checkbox] *{
    vertical-align: middle;
    line-height: 1em;
}

.checkbox[type=checkbox]::before {
    content: "";
    display: inline-block;
    float: left;
    clear: left;
    text-align: center;
    vertical-align: middle;
}
.checkbox[type=checkbox]:checked:before{
    content: "";
}