.flat{
    transition: all 0.3s;
}
.flat.toolsBar{
    border-bottom: 1px solid #ccc;
    padding: 0 1rem;
    margin: 0;
}
.flat.toolsBar>*{
    vertical-align: middle;
    margin: 0;
    font-weight: 500;
}
.flat.toolsBar>.action{
    font-size: 1rem;
    padding: 1rem;
    display: inline-block;
    text-align: center;
    min-width: 6rem;
    transition: all 0.3s;
}
.flat.toolsBar>.action:active{
    transform: scale(0.8);
}
.flat.toolsBar>.divider,
.flat.toolsBar>.dividerLine{
    height: 2rem;
    margin: auto 2rem;
    display: inline-block;
}
.flat.toolsBar>.dividerLine{
    width: 1px;
    background: #eee;
}
.flat.toolsBar:empty{
    height: 0;
    display: none;
}

.mpfile.rootview{
    display:flex;
    flex: row;
    font-size: 1rem;
    align-items: stretch;
    flex: 0 100%;
}
.mpfile.rootview>*{
    align-items: stretch;
}
.mpfile.rootview>*:first-child{
    width: 20rem;
    border-right:1px solid rgb(224,224,224); 
}
.mpfile.rootview>*:last-child{
    flex: 1;
    display: flex;
    flex-direction: column;
}
