<template>
    <div>
        <div class="flat toolsBar">
            <input class="checkbox" type="checkbox" id="select_all_music" />
            <label for="select_all_music" class="action">全选</label>
            <span class="divider"></span>
            <span class="action">导出</span>
            <span class="divider"></span>
            <span class="action">删除</span>
            <span class="divider"></span>
            <span class="action">导入</span>
        </div>


        <div class="musicsList">
            <span class="music backuped">
                <span class="bg"></span>
            <span class="text">周杰伦 - 东风破东风破东风破</span>
            <small class="text">1.25M</small>
            </span>
            <span class="music" v-for="item in musiclist">
                <span class="bg"></span>
            <span class="text">周杰伦 - 东风破东风破东风破</span>
            <small class="text">1.25M</small>
            </span>
        </div>
    </div>
</template>

<script>
    export default {
        data(){
            return {
                musiclist:[
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},
                    {},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{},{}
                ]
            }
        }
    }
</script>

<style scoped>
.musicsList {
    flex: 0 100%;
    overflow: auto;
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    background: #f8f8f8;
}

.musicsList .music {
    box-sizing: border-box;
    background-color: white;
    flex: 0 0 12rem;
    overflow: hidden;
    height: 16rem;
    box-shadow: 1px 1px 2px #ccc;
    margin: 1rem;
    transition: all 0.3s;
}

.musicsList .music:active,
.musicsList .music.active {
    opacity: 0.5;
    transform: scale(0.9);
}

.musicsList .music.backuped:before {
    content: "";
    display: inline-block;
    padding: 0 0.5rem;
    float: left;
    color: #8c0;
    font-weight: 600;
}

.musicsList .music .bg {
    height: 12rem;
    display: block;
    width: 12rem;
    background-image: url('./ic_album_black_24px.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.musicsList .music .text {
    color: #888;
    display: block;
    padding: 0 1rem;
    text-align: center;
    word-wrap: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.musicsList .music small.text {
    font-size: 1rem;
    padding: 0;
    text-align: right;
    transform: scale(0.7);
    color: #aaa;
}
</style>