<template>
    <div>
    <div class="phone-viewport">
  <md-list>
    <md-list-item>
      <md-icon>move_to_inbox</md-icon> <span>Inbox</span>
    </md-list-item>

    <md-list-item>
      <md-icon>send</md-icon> <span>Sent Mail</span>
    </md-list-item>

    <md-list-item>
      <md-icon>delete</md-icon> <span>Trash</span>
    </md-list-item>

    <md-list-item>
      <md-icon>error</md-icon> <span>Spam</span>

      <md-divider class="md-inset"></md-divider>
    </md-list-item>

    <md-list-item>
      <md-avatar>
        <img src="https://placeimg.com/40/40/people/5" alt="People">
      </md-avatar>

      <span>Abbey Christansen</span>

      <md-button class="md-icon-button md-list-action">
        <md-icon class="md-primary">chat_bubble</md-icon>
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-avatar>
        <img src="https://placeimg.com/40/40/people/1" alt="People">
      </md-avatar>

      <span>Alex Nelson</span>

      <md-button class="md-icon-button md-list-action">
        <md-icon class="md-primary">chat_bubble</md-icon>
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-avatar>
        <img src="https://placeimg.com/40/40/people/6" alt="People">
      </md-avatar>

      <span>Mary Johnson</span>

      <md-button class="md-icon-button md-list-action">
        <md-icon>chat_bubble</md-icon>
      </md-button>
    </md-list-item>
  </md-list>
</div>

<div class="phone-viewport">
  <md-list class="md-dense">
    <md-list-item>
      <md-icon>move_to_inbox</md-icon> <span>Inbox</span>
    </md-list-item>

    <md-list-item>
      <md-icon>send</md-icon> <span>Sent Mail</span>
    </md-list-item>

    <md-list-item>
      <md-icon>delete</md-icon> <span>Trash</span>
    </md-list-item>

    <md-list-item>
      <md-icon>error</md-icon> <span>Spam</span>

      <md-divider class="md-inset"></md-divider>
    </md-list-item>

    <md-list-item>
      <md-avatar>
        <img src="https://placeimg.com/40/40/people/5" alt="People">
      </md-avatar>

      <span>Abbey Christansen</span>

      <md-button class="md-icon-button md-list-action">
        <md-icon class="md-primary">chat_bubble</md-icon>
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-avatar>
        <img src="https://placeimg.com/40/40/people/1" alt="People">
      </md-avatar>

      <span>Alex Nelson</span>

      <md-button class="md-icon-button md-list-action">
        <md-icon class="md-primary">chat_bubble</md-icon>
      </md-button>
    </md-list-item>

    <md-list-item>
      <md-avatar>
        <img src="https://placeimg.com/40/40/people/6" alt="People">
      </md-avatar>

      <span>Mary Johnson</span>

      <md-button class="md-icon-button md-list-action">
        <md-icon>chat_bubble</md-icon>
      </md-button>
    </md-list-item>
  </md-list>
</div>
<mc-button>test!</mc-button>
<mc-log>123123123</mc-log>
    </div>
</template>
<!--
  <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic">
  <link rel="stylesheet" href="http://fonts.googleapis.com/icon?family=Material+Icons">
-->
<script>
  import Button from './mcButton.vue';
  export default {
    components:{
      "mc-button":Button
    }
  }
</script>
