<template>
    <div class="page_mphone_contract contact">
        <div class="col">
            <div class="toolsbar">
                <label for="page_mphone_contract_toggleSelectAll2"><input id="page_mphone_contract_toggleSelectAll2" v-on:change="toggleSelectAll" v-model="allSelected" class="checkbox" type="checkbox" />&nbsp;<span>全选（{{selectedCount}}）</span></label>
                <span v-on:click="deleteSelected"><span class="symbol">&nbsp;</span><span>删除</span></span>
                <span v-on:click="refresh"><span class="symbol">&nbsp;</span><span>刷新</span></span>
                <span v-on:click="createNew"><span class="symbol">&nbsp;</span><span>新建联系人</span></span>
            </div>
            <div class="contact_tabs">
                <span v-on:click="sms">短信</span>
                <span class="active">通讯录</span>
            </div>
            <div class="contactList">
                <div v-for="contact in contactsList" class="contactRow" v-bind:class="{ 'active':contact._isCurrent }">
                    <input v-on:change="listItemChecked" type="checkbox" class="checkbox" v-model="contact._selected" />
                    <span class="img" v-bind:style="{ 'background-image':contact.image?`url('${contact.image}')`:null }"></span>
                    <div v-bind:data-key="contact.rawContactId" v-on:click="listItemClick" class="info">
                        <label class="number">{{contact.displayName}}</label>
                        <span class="text">{{contact.displayPNumber}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col contactDetails">
            <div class="toolsbar">
                <span></span>
                <span v-on:click="editCurrent"><span class="symbol">&nbsp;</span><span>编辑</span></span>
            </div>
            <div class="panel">
                <div class="details">
                <div class="headimg" v-bind:style="{ 'background-image':contactDetails.image?`url('${contactDetails.image}')`:null }"></div>
                <div class="infos">
                    <big>{{contactDetails.displayName}}</big>
                    <small>{{contactDetails.memberShip}}</small>
                    <span>位置：手机内存</span>
                </div>
            </div>
            <div class="pnumbers">
                <div v-for="item in contactDetails.phoneNumbers">
                    {{parseNameType(item.name)}}：{{item.data}}
                </div>
            </div>
            </div>
        </div>
    </div>
</template>

<script>
import vm from './addressbook.part/ab.js';
export default vm;
</script>

<style>
@import './addressbook.part/ab.css';
</style>