<template>
    <div class="page_mphone_contract contact">
        <div class="col">
            <div class="toolsbar">
                <label for="page_mphone_contract_toggleSelectAll"><input id="page_mphone_contract_toggleSelectAll" v-on:change="toggleSelectAll" v-model="allSelected" class="checkbox" type="checkbox" />&nbsp;<span>全选（{{selectedCount}}）</span></label>
                <span v-on:click="deleteSelected"><span class="symbol">&nbsp;</span><span>删除</span></span>
                <span v-on:click="refresh"><span class="symbol">&nbsp;</span><span>刷新</span></span>
                <span v-on:click="createNew"><span class="symbol">&nbsp;</span><span>新建短信</span></span>
            </div>
            <div class="contact_tabs">
                <span class="active">短信</span>
                <span v-on:click="contact">通讯录</span>
            </div>
            <div class="msgList">
                <div v-for="message in messageList" class="msgRow" v-bind:class="{ 'active':message._isCurrent,new:message.hasNewMsg }">
                    <input type="checkbox" v-on:change="messageListChecked"
                           class="checkbox" v-model="message._selected" />
                    <div v-on:click="messageClick" v-bind:data-key="message.recipientIds" class="info">
                        <time class="time">{{ timeTxt(message.date) }}</time>
                        <label class="number">
                            {{message.recipienName||message.recipientNumber}}
                            &nbsp;
                            ({{message.hasNewMsg?(message.newmsgCount+'/'+message.messageCount):message.messageCount}})
                        </label>
                        <span class="text">{{message.snippet}}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col smsDetails">
            <div class="toolsbar">
                <span><b>{{currentContact}}</b></span>
                <span v-on:click="createNew"><span class="symbol">&nbsp;</span><span>添加为联系人</span></span>
            </div>
            <div class="detailList">
                <div v-for="message in messageDetails" v-bind:class="{ left:!message.isSend,right:message.isSend }">
                    <div class="datetime">{{message.date.format('yyyy-MM-dd HH:mm:ss')}}</div>
                    <div class="bubble">
                        <div>{{message.body}}</div>
                    </div>
                    <br />
                    <a class="delete" v-bind:data-key="message.id" v-on:click="deleteMsg">删除</a>
                </div>
            </div>
            <div class="sendMsgDialog">
                <div class="content">
                    <textarea placeholder="请输入您要发送的短信内容，按Ctrl+Enter发送"></textarea>
                    <div class="sendBar">
                        <span>已输入98字符，共2条短信</span>
                        <span class="reply">发送</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import vm from './sms.part/sms.js';
export default vm;
</script>

<style>
@import './sms.part/sms.css';
</style>