.page_mphone_contract.contact .contactList {
    display: block;
    height:100%;
    overflow:auto;
    padding: 0;
    margin: 0;
    background: #fff;
}

.page_mphone_contract.contact .contactList>.contactRow {
    line-height: 2em;
    display:flex;
    padding: 1rem 0;
    flex-direction: row;
}
.page_mphone_contract.contact .contactList>.contactRow .img{
    align-items: stretch;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    flex: 0 0 5rem;
    border-radius:0.5rem; 
    border: solid 0.1rem rgb(170,170,170);
    background-color: rgb(170,170,170);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('./contact_default.png');
}
.page_mphone_contract.contact .contactList>.contactRow .info{
    flex: 1;
}
.page_mphone_contract.contact .contactList>.contactRow.active{
    background: rgb(221,231,232);
}

.page_mphone_contract.contact .contactList>*:not(:last-child) {
    border-bottom: 1px solid rgb(231, 231, 231);
}

.page_mphone_contract.contact .contactList>.contactRow .checkbox{
    flex:0 0 4rem;
}
.page_mphone_contract.contact .contactList>.contactRow .number {
    display:block;
    color: rgb(85, 85, 85);
    font-weight:600;
    padding-right:1rem;
}

.page_mphone_contract.contact .contactList>.contactRow .text {
    display:block;
    color: rgb(168, 168, 168);
    padding-right:1rem;
}
.page_mphone_contract.contact .contactList .checkbox[type=checkbox]{
    padding:1.5rem;
}
.page_mphone_contract.contact .contactList .checkbox[type=checkbox]::before{
    width: 1rem;
    height: 1rem;
    line-height: 1rem;
}
.page_mphone_contract.contact .contactList>.contactRow .time{
    float: right;
    top: 0;
    right: 0;
    display: inline-block;
    padding: 0.5rem;
    color: rgb(168, 168, 168);
    vertical-align: top;
}

.page_mphone_contract.contact .col.contactDetails {
    display:flex;
    align-items: stretch;
    flex: 50%;
    flex-direction:column;
    background: #e9e9e9;
}
.page_mphone_contract.contact .col.contactDetails .panel{
    display: inline-block;
    margin: 0 auto;
    width: auto;
}
.page_mphone_contract.contact .col.contactDetails .toolsbar{
    background: transparent;
    justify-content: space-between;
    box-shadow: 1px 1px 1px rgb(204,204,204);
}
.page_mphone_contract.contact .col.contactDetails .details{
    display: flex;
    justify-content: center;
    padding-top:2rem; 
}
.page_mphone_contract.contact .col.contactDetails .details .headimg{
    width:9rem;
    height:9rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:1rem; 
    background-color: rgb(170,170,170);
    background-image: url('./contact_default.png');
}
.page_mphone_contract.contact .col.contactDetails .details .infos>*{
    display: block;
    line-height: 1.6em;
    padding-left: 1rem;
}
.page_mphone_contract.contact .col.contactDetails .details .infos big{
    font-size: 2.5rem;
    font-weight: 500;
    color: rgb(85,85,85);
}
.page_mphone_contract.contact .col.contactDetails .details .infos small{
    color: rgb(85,85,85);
}
.page_mphone_contract.contact .col.contactDetails .pnumbers{
    padding: 2rem 0;
    font-size: 1.3rem;
    line-height: 2em;
}